
header {
    background-color: rgb(46, 46, 46);
    margin: 0;
    height: 6rem;
}

li {
    list-style-type: none;
}

.header-logo {
    margin: 0;
    width: 300px;
    height: 80px;
}

.header-coin {
    height: 70px;
    width: 70px;
}

.coin-count {
    display: flex;
    display: row;
    font-weight: bold;
    color: white;
    align-items: center;
    position: absolute;
    top: -35px;
    right: 50px;
}

h6 {
    margin: 0;
    font-size: 5rem;
    margin-top: 20px;
    margin-left: 20px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    color: white;
}

nav {
    background-color: rgb(4, 146, 4);
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    margin-top: 0px;
    color: white;
}

.warning-icon {
    display: none;
    margin: 0 20px;
}

.nav-btn {
    position: relative;
    width: 300px;
    height: 75px;
    background-color: whitesmoke;
    border-radius: 10px;
    color: black;
    border: 2px solid black;
    margin-top: 20px;
}

.nav-btn:hover {
    background-color: rgb(159, 255, 146);
}

.nest-btn {
    padding-left: 140px;
}

a {
    text-decoration: none;
    color: white;
    transition: .1s;
}

.new-li {
    display: none;
    padding-right: 100px;
}

a:hover {
    color: rgb(197, 197, 197);
}

@media (max-width: 1000px) {
    nav {
        background-color: #f44336;

    }

    .warning-icon {
        display: inline-block !important;
    }

    li {
        display: none;
    }

    .new-li {
        display: inline-block !important;
    }
}
