
.Isle {
    display: flex;
    width: 70vw;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 40px;
}

.yoshi {
    margin: 20px;
}

.title {
    margin-top: 10px;
    font-family: 'Modak', cursive;
}

.query-btn {
    border: 2px solid black;
    margin-top: 0px;
    border-radius: 10px;
}