.Isle {
    display: flex;
    width: 70vw;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 40px;
}

.yoshi {
    margin: 20px;
}

.title {
    margin-top: 150px;
}
