
img {
    height: 240px;
    width: 200px;
    margin-top: 30px;
    filter: drop-shadow(2mm 2mm .8rem rgb(0, 0, 0));
}

.square {
    background-color: green;
    width: 100px;
    height: 100px;
}

.nest {
    margin-top: 50px;
    height: 100vh;
}

.three-el {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.egg-pic {
    margin-top: 20px;
    transition: 1s;
    animation-name: shake;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: none;
}

.middle-pic {
    margin-top: 20px;
    border: none;
}

@keyframes shake {
    0% {
        transform: rotate(0deg)
    }
    10% {
        transform: rotate(5deg);
    }
    20% {
        transform: rotate(0deg);
    }    
    30% {
        transform: rotate(-5deg);
    }
    40% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(5deg);
    }
    70% {
        transform: rotate(-5deg);
    }
    80% {
        transform: rotate(5deg);
    }
    90% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

h3 {
    font-size: 50px;
    margin: 10px;
}

h4 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

button {
    font-size: 30px;
    margin: 0px 40px;
    margin-top: 30px;
}

button:hover {
    cursor: pointer;
}

.home-container {
    width: 100vw;
    height: 20vw;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.yoshi-pic {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    filter: drop-shadow(2mm 2mm 1rem rgb(0, 0, 0));
}

.castle-pic {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    filter: drop-shadow(2mm 2mm 1rem rgb(0, 0, 0));
}

.nest-pic {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    filter: drop-shadow(2mm 2mm 1rem rgb(0, 0, 0));
}

.side-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    font-family: 'Modak', cursive;
    outline: none;
    margin-top: -75px;
}

.side-icon:hover {
    outline: none;
}

p {
    width: 300px;
}

.left-text {
    /* transform: translate(0, -100px); */
}

.left-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-btn {
    font-family: 'Modak', cursive;
}

/* The alert message box */
.alert {
    background-color: #f44336; /* Red */
    color: white;
    height: 48px;
    font-size: 32px;
    position: absolute;
    top: 83px;
    z-index: 2;
    text-align: center;
    width: 100vw;
    transition: 1;
}

.hatch {
    animation: hatch-in-keyframes 2s;
}
@keyframes hatch-in-keyframes {
    from {opacity: 0}
    to {opacity: 1}

    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.35);
    }
}