

button {
    background-color: white;
    border: none;
    color: rgb(53, 53, 53);
    margin: 0;
    outline: none;
}

.bot-btn {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.yoshi {
    position: relative;
    width: 200px;
    margin: 20px;
}

.bomb {
    position: absolute;
    top: 0px;
    right: -30px;
    transition: .5s;
}

.bomb:hover {
    font-size: 120%;
}

.mushroom {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -20px;
    left: -30px;
    filter: drop-shadow(2mm 2mm .3rem rgb(0, 0, 0));
}


.left-arrow {
    position: absolute;
    color: rgba(255, 255, 255, 0);
    height: 500px;
    width: 700px;
    transition: 1s;
    transform: translate(-150px, 180px)
}

.left-arrow:hover {
    color: rgba(105, 105, 105, 1);
}

.right-arrow {
    position: absolute;
    color: rgba(255, 255, 255, 0);
    height: 500px;
    width: 700px;
    transition: 1s;
    transform: translate(150px, 180px)
}

.right-arrow:hover {
    color: rgba(105, 105, 105, 1);
}

.shrinkToggle {
    animation: shrink-in-keyframes .5s;
    transform: scale(.6);
}
@keyframes shrink-in-keyframes {

    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(.6);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(.6);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(.6);
    }
}

.normal {
    animation: normal-in-keyframes .5s;
    transform: scale(1);
}
@keyframes normal-in-keyframes {

    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(.6);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(.6);
    }
    100% {
        transform: scale(1);
    }
}
